---
layout: default
---
<main>
<section class="posts">
<div class="container">

    {%- for post in site.categories["commvnes"] limit:1 -%}
    <div class="post-box last-post">
        <a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.thumbnail %}
        <div class="img-container">
            <img src="{{ post.thumbnail }}" alt="{{ post.title }}">
        </div>
        {% endif %}
        <div class="text-box">
            <h3 class="{{ post.tags }}">{% include tag_name.html %}</h3>
            <h2 class="title">{{ post.title }}</h2>
            <p>{{ post.description | truncate: 200 }}</p>
        </div>
        </a>
    </div>
    {%- endfor -%}

    {%- for tag in site.tag -%}
        <div class="category-title">
            <h2>{{tag.title }}</h2>
            <a href="{{ tag.url }}">Ver todo</a>
        </div>
        {% assign posts = site.tags[tag.slug] %}
        <ul class="posts-container">
        {% for post in posts limit:3 %}
            <li class="post-box">
                <a class="post" href="{{ site.baseurl }}{{ post.url }}">
                    {% if post.thumbnail %}
                    <div class="img-container">
                        <img src="{{ post.thumbnail }}" alt="{{ post.title }}">
                    </div>
                    {% endif %}
                    <div class="text-box">
                        <h3 class="{{ post.tags }}">{% include tag_name.html %}</h3>
                        <h2 class="title">{{ post.title }}</h2>
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>

    {%- endfor -%}
</div>
</section>
</main>
