<head>
  <meta charset="utf-8">

  <title>Commvnia</title>
  <meta name="description" content="Omnia sunt commvnia">
  <meta name="author" content="Commvnia">
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico" type="image/x-icon" />  
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/icon-152x152.png">   
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/images/icon-144x144.png">   
  <meta name="theme-color" content="black"/>  
  <meta name="apple-mobile-web-app-capable" content="yes">  
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
  <meta name="apple-mobile-web-app-title" content="Omnia sunt commvnia"> 
  <meta name="msapplication-TileColor" content="#fff">
  
  <link rel="stylesheet" href="{{ site.baseurl }}/index.css">      
</head>
