	<header>
        <div class="site-nav">
            <h1><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/COMMVNIA BLANCO.png" /></a></h1>
            <nav>
                <ul>
                    <li class="dropdown">Articulos
                    {% include tags.html %}
                    </li>
                    <li><a href="/autor/commvnes">Commvnes</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/commvnia">Commvnia</a></li>
                    <li><a href="/descargas">Descargas</a></li>
                </ul>
            </nav>
            <div class="nav-buttons">
                <div class="search-img-container" style="visibility: visible;">
                    <img id="search_button" class="search-img mobile" src="/assets/images/svg/search-icon.svg" alt="search icon mobile">
                </div>
                <img id="hamburger" src="/assets/images/svg/hamburger-menu.svg" alt="mobile menu icon">
            </div>
        </div>
        <div id="search-container" class="search-bar hide">
            <div class="search-bar-module">
                <div class="search-bar-wrapper">
                    <input type="text" id="search-input" autocomplete="off" placeholder="Search" name="query">
                </div>
                <ul id="search-results" class="search-dropdown-results">
                </ul>
            </div>
              
        </div>
        <div id="menu_mobile" class="menu-mobile-wrapper hide">
            {% include tags.html %}
        </div>
    </header>

