<ul class="posts-container">
{% for post in posts %}
    <li class="post-box">
        <a class="post" href="{{ site.baseurl }}{{ post.url }}">
            {% if post.thumbnail %}
            <div class="img-container">
                <img src="{{ post.thumbnail }}" alt="{{ post.title }}">
            </div>
            {% endif %}
            <div class="text-box">
                <h3 class="{{ post.tags }}">{% include tag_name.html %}</h3>
                <h2 class="title">{{ post.title }}</h2>
            </div>
        </a>
    </li>
{% endfor %}
</ul>

