<div class="related">
  <h3>Publicaciones relacionadas</h3>

  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}
  {% assign randomPosts = site.posts | sample: site.posts.size %}
  <ul class="related-posts">

      {%- for post in randomPosts -%}

      {% assign sameTagCount = 0 %}

      {%- for category in post.tags -%}
      {% if post.url != page.url %}
      {% if page.tags contains category %}
      {% assign sameTagCount = sameTagCount | plus: 1 %}
      {% endif %}
      {% endif %}
      {%- endfor -%}

      {% if sameTagCount >= minCommonTags %}
      <li>
          <a href="{{ site.baseurl }}{{ post.url }}">
              <img alt="{{ post.title }}" src="{{ post.thumbnail }}"></img>
              <p>
              {{ post.title }}
              <small>{% include fecha.html scope=post%}</small>
              </p>
          </a>
      </li>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
      {% break %}
      {% endif %}
      {% endif %}

      {%- endfor -%}
  </ul>
</div>
