@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1350px) { @content; }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

*, ::after, ::before {
    box-sizing: border-box;
}
*{
    padding:0;
    margin:0;
}
body, html{
    height:100%;
}
body{
    color: #000000;
    min-height: 100vh;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
header{
    position: sticky;
    width: 100vw;
    max-width: 100%;
    top: 0;
    background: #242424;
    .site-nav {

        max-width: 1440px;
        padding: 0 16px;
        margin: 0 auto;
        height: 80px;

    }
    .site-nav {
        width: 100%;
        margin: 0 auto;
        padding: 0 16px 0 10px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    z-index: 999;
    h1{
        padding-left: 5%;
    }
    a img{
        height: 28px;
    }
    nav{
        @include for-phone-only {
            display: none;
        }

        li{
            display: inline;
            color: #CDD2D4;
            list-style: none;
            font-size: 15px;
            padding: 22px;
            line-height: 60px;
            a{
                color: #CDD2D4;
                line-height: 24px;
                font-weight: 400;
            }
        }
        .dropdown{
            position: relative;
            cursor: pointer;

            ul{
                display: none;
                position: absolute;
                top: 60px;
                left: -5px;
                background-color: #242424;
                padding: 0;
                flex-direction: column;
                text-align: center;

                li{
                    padding: 10px 20px;
                    margin: 0;
                    line-height: 15px;
                }
            }
            &:hover ul, ul:hover{
                display: flex;
            }
        }
    }
    .site-nav .nav-buttons{
        @include for-phone-only {
            display: flex; 
        }

        .search-img-container {
            display: flex;
            width: 26px;
            align-items: center;
            cursor: pointer;
            opacity: 0.8;
        }
        #hamburger {
            @include for-tablet-portrait-up {
                display: none;
            }
            margin-left: 20px;
            cursor: pointer;
            opacity: 0.8; 
            &:hover {
                opacity: 1; 
            }
        }
    }
}
main{
    min-height: 100%;
    margin-bottom: -60px;
    padding-bottom: 60px;
    background: #fff;
}
.posts, .post{
    padding: 80px 0 40px;
}
.container{
    max-width: 1226px;
    margin: 0 auto;
    padding: 0 16px; 
}
.post-box.last-post a{
    display: grid;
    border-bottom: none;
    @include for-tablet-portrait-up {
        grid-template-columns: 1fr 1.5fr;
        height: 350px;
    }

    .img-container{
        height: 300px;
        img{
            height: 300px;
        }
    }
    .text-box {
        h2{ 
            font-size: 48px;
            line-height: 64px;
        }
        h3 {
            font-size: 26px;
            text-transform: uppercase;
        }
    }
}
.category-title{
    margin-top: 50px;
    > *{
        line-height:36px;
    }
    h2{
        text-transform: uppercase;
        font-size:30px;
        display: inline-block;
    }
    a{
        float: right;
        color: black;
    }
}
.post-box{
    background: #fff;
    padding: 0;
    border-bottom: 5px solid black;

    .img-container{
        width: 100%;
        height: 200px;
        overflow: hidden;

        img{
            width: 100%;
            height: 200px;
            object-fit: cover;

            &:hover{
                transform: scale(1.2);
            }
        }
    }
    a{
        color: #242424;
    }
}
.text-box {
    padding: 40px;
    background: #fff;

    h2{ 
        font-size: 24px;
        letter-spacing: -0.2px;
        line-height: 32px;
        font-weight: 600;
        opacity: 1;
        margin: 0;
    }
    h3 {
        font-size: 13px;
        letter-spacing: 1.35px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
        padding: 0 0 8px;
    }
}

.posts-container {

    @include for-phone-only {
        grid-template-columns: repeat(1, 1fr);
    }

    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-template-rows: auto;
    grid-row-gap: 24px;

}
.posts-container {
    display: grid;
    padding: 0;
    list-style: none;
    margin: 0;
}
footer{
    width: 100vw;
    max-width: 100%;
    background: #242424;
    .site-nav {
        max-width: 1440px;
        padding: 0 16px;
        margin: 0 auto;
        height: 80px;
    }
    .site-nav {
        margin: 0 auto;
        padding: 0 16px 0 10px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    z-index: 999;
    h1{
        color: #fff;
        margin: 10px 8px;
        display: inline;
    }

    nav li{
        list-style: none;
        display: inline;
        margin-left: 30px;
        a{
            font-size: 15px;
            color: #CDD2D4;
            line-height: 24px;
            font-weight: 400;
        }
    }
}

$tags: ("wertkritik": #E86361, "historia": #D88BCE, "genero": #9B79FF, "arte": #49AC6F, "tecnologia": #E5AF44);
@each $category, $color in $tags {
    .bg-#{$category} {
        background-color: lighten($color, 10%);
        padding: 30px;
        margin-top: 20px;
    }
    .#{$category} {
        color: $color;
    }
    .img-#{$category}::after {
        background-color: $color;
    }
}

.hide{
    display: none !important;
}
.search-bar {
    position: absolute;
    width: 100%;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
}
.search-bar-module {
    padding: 0 6px;
    max-width: 1226px;
}
.search-bar-module {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.search-bar-wrapper {
    margin: 30px 0;
    display: flex;
    align-items: center;
}
#search-input {
    border: none;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    color: #242424;
    line-height: 24px;
    margin: 0 16px;
    opacity: 1;
    letter-spacing: 0.2px;
    &:focus{    
        outline: none;
    }

}
.search-dropdown-results {
    list-style: none;
    margin-bottom:60px;
    li {
        padding: 16px 40px;
        font-weight: 600;
        font-size: 24px;
        color: #242424;
        letter-spacing: -0.2px;
        line-height: 32px;
        &:hover {
            background: #EDF0F2;
        }
        h4 {
            font-weight: 600;
            font-size: 13px;
            letter-spacing: 1.35px;
            text-transform: uppercase;
            line-height: 24px;
            margin: 0;
        }
        a{
            color: #242424;
        }
    }
}
.menu-mobile-wrapper{
    z-index: 1;
    position: absolute;
    background: #242424;
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    ul{
        list-style: none;
        padding: 0;
        margin: 30px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
            padding-top: 25px;
            a{
                color: #FFFFFF;
                font-weight: 500;
                font-size: 25px;
                text-align: center;
                line-height: 37.5px;
            }
        }
    }
}
.post-detail{
    .post-info{
        display: flex;
        flex-direction: row;
        padding-bottom: 100px;
    }
    .post-info-text{
        margin-right: 50px;
        h1{
            font-size: 40px;
        }
        h2{
            text-transform: uppercase;
            font-size: 20px;
        }
        p{
            margin: 20px 0px;
        }
        time{
            font-size: 14px;
            color: #606060;
            margin-top: 30px;
        }
    }
    .post-info-text, .post-image{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        z-index: 1;
    }
    .post-image::after {
        height: initial;
        position: absolute;
        top: 10px;
        left: 10px;
        right: -10px;
        bottom: -10px;
        content: "";
    }
    .post-content{
        margin-bottom: 30px;
    }
    .related {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        h3{
            margin-top: 20px;
        }

        .related-posts {
            padding-left: 0;
            list-style: none;

            li {
                padding: 5px 0;

                small {
                    font-size: 75%;
                    color: #6B6B6B;
                }

                a {
                    display: flex;

                    img {
                        width: 100px;
                        height: 70px;
                        margin: 0;
                        object-fit: cover;
                    }

                    p {
                        margin: 0;
                        padding-left: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                    &:hover {
                        text-decoration: none;

                        small {
                            color: inherit;
                        }
                    }
                }
            }
        }
    }
}
