---
layout: default
---

<main>
<section class="posts">
<div class="container">
    <h2>{{ page.title }}</h2>
    <img>{{ page.image }}</img>
    {% assign posts = site.categories[page.slug] %}
    {% include posts.html %}
</div>
</section>
</main>
