<!doctype html>
<html lang="es">

{% include head.html %}

<body>
    {% include header.html %}
    {{ content }}
	<footer>
        <div class="site-nav">
		<nav>
			<ul>
				<li><a href="{{ site.baseurl }}/contacto">Contacto</a></li>
				<li><a href="{{ site.baseurl }}/sobre-nosotros">Sobre nosotros</a></li>
			</ul>
		</nav>
		</div>
	</footer>
    <script src="{{ site.baseurl }}/assets/js/search.js"></script>
    <script>
        let hamburger=document.getElementById("hamburger");
        let menu_mobile=document.getElementById("menu_mobile");
        hamburger.addEventListener('click', function (e) {
            if(menu_mobile.classList.contains("hide")){
                menu_mobile.classList.remove("hide");
                hamburger.src="/assets/images/svg/close-icon.svg"
            }
            else{
                menu_mobile.classList.add("hide");
                hamburger.src="/assets/images/svg/hamburger-menu.svg"
            }
        })
    </script>
</body>
</html>
