---
layout: default
---
<main class="post-detail">
<article class="post">
    <div class="container">
        <div class="post-info">
            <div class="post-info-text">
                <h2 class="{{ page.tags }}">{{ page.tags }}</h2>
                <h1>{{ page.title }}</h1>
                <p>{{ page.description }}</p>
                <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">
                    {% include fecha.html scope=page%}
                </time>
            </div>
            <div class="img-{{ page.tags }} post-image">
                <img src="{{ page.thumbnail }}">
            </div>
        </div>
        <div class="post-content">
            {{ content }} 
        </div>
        {% include related.html %}
    </div>
</article>
</main>
